*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background-color: #F4EBD3;
    color: #555879;
}
header{
    text-align: center;
    align-content: center;
    width: 100%;
    height: 120px;
    background-color: #555879;
    margin-bottom: 10px;
}
header h1{
    background-color: #555879;
    color: #F4EBD3;
}
header h2{
    background-color: #555879;
    color: #F4EBD3;
}
.Intro{
    align-self: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    width: 1000px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}
.Intro img{
    border-radius: 50%;
    border: solid #555879 2.5px;
}
.Education{
    padding-left: 45px;
    padding-top: 85px;
    justify-self: center;
    justify-items: center;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #F4EBD3;
}
.Education img{
    background-color: #555879;
    width: 50px;
    height: 50px;
}
.edu{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #555879;
    padding: 10px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.edu h1{
    background-color: #555879;
    color: #F4EBD3;
}
.edu h2{
    background-color: #555879;
    color: #F4EBD3;
}
.Head{
    padding-top: 85px;
    text-align: center;
}
.Body{
    margin-top: -60px;
    text-align: center;
}
.Technical{
    padding-top: 30px;
    justify-self: center;
    width: 600px;
    height: 250px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
}
.Technical h3{
    border-radius: 5px;
    text-align: center;
    align-content: center;
    margin: 10px;
    background-color: #555879;
    color: #F4EBD3;
    width: 100px;
    height: 28px;
}
.Soft{
    padding-top: 30px;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 250px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
}
.Soft h3{
    border-radius: 5px;
    text-align: center;
    align-content: center;
    margin: 5px;
    background-color: #555879;
    color: #F4EBD3;
    width: 150px;
    height: 35px;
}
footer h1{
    background-color: #555879;
    color: #F4EBD3;
    padding-top: 30px;
}
footer{
    text-align: center;
    height: 200px;
    background-color: #555879;
    color: #F4EBD3;
    width: 100%;
}
.Conts a{
    background-color: #555879;
}
.Conts{
    padding-top: 25px;
    justify-self: center;
    justify-content: center;
    background-color: #555879;
    width: 230px;
    display: grid;
    grid-template-columns: repeat(3,40px);
    gap: 28px;
}
.Conts img{
    background-color: #555879;
    width: 40px;
    height: 40px;
}
.call{
    padding-top: 20px;
    justify-self: center;
    width: 230px;
    background-color: #555879;
    color: #F4EBD3;
}
footer img{
    border-radius: 50%;
    align-self: center;
    width: 20px;
    height: 20px;
}
@media(max-width:1000px){
    header{
        width: 100%;
        height: 120px;
        font-size: 12px;
    }
    .Intro{
        justify-items: center;
        padding-top: 0px;
        width: 80%;
        height: 250PX;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 16px;
        text-align: center;
    }
    .IntroPara{
        padding-top: 8ppx;
    }
    .Intro img {
        width: 150px;
        height: 180px;
    }
    .Education{
        left: 150px;
        padding-left: 0;
        justify-self: center;
        width: 70%;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
    }
    .edu{
        width: 120px;
        height: 120px;
    }
    .Head{
        text-align: center;
        justify-self: center;
    }
    .Technical{
        justify-self: center;
        width: 70%;
        height: 100px;
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr 1fr ;
    }
    .Body{
        padding-top: 125px;
    }
    .Soft{
        height: 165px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-self: center;
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer{
        width: 100%;
    }
}
